<div class="footer">
    <div class="frame">
        <div class="row">
            <div class="col-sm-16">
                <div class="col-sm-12">

                    <div class="social_sites">
                        <a href="" class="tweet_link"><img src="/modules/home/images/Twitter.png" alt="twitter" /></a>
                        <a href="" class="fb_link"><img src="/modules/home/images/Facebook.png" alt="facebook" /></a>
                        <a href="" class="gplus_link"><img src="/modules/home/images/Google_plus.png" alt="google plus" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
