<div class="navbar navbar-inverse main_nav" role="navigation" data-ng-controller="HeaderController">
    <div class="frame">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle ph_nav_button" data-ng-click="toggleCollapsibleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo_container" href="/#!">
                <span class="logo-wrap">
                    <img src="/modules/home/images/logo.png" alt="Agile TEK" />
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse top-nav" collapse="!isCollapsed">
            <ul class="nav navbar-nav">
                <li class="nav_home"><a href="/#!/home">Home</a></li>
                <li class="nav_preference"><a href="/#!/preferences">Settings</a></li>

            </ul>
        </div>
    </div>
</div>
